*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  box-sizing: inherit;
  /* margin: 0;
  padding: 0; */
}

body {
  font-family: 'Nexa', 'Helvetica', sans-serif;
  background: #FFFFFF;
  /* padding: 0; */
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}