*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #333;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
    display: block;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    padding: 18px;
    color: #FAFAFA;
    background: #000000;
    border-radius: 50px;
}

img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
}

header {
  width: 100%;
}

.header .content {
  margin-inline: auto;
}

.header .content .header1 {
  background: #000000;
  text-align: center;
  padding: 8px;
}

.header .content .header1 small {
  font-size: 0.8em;
  color: #FAFAFA;
}

.header .content .header1 a {
  font-size: 0.8em;
  color: #FAFAFA;
  text-underline-offset: 3px;
}

.header .content .header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FAFAFA;
  text-align: center;
  padding: 8px 24px;
  border-bottom: 1px solid #d3d3d3;
}

.header .content .header2 a {
  font-size: 0.8em;
  color: rgb(98, 98, 98);
}

.header .content .header2 .list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.header .content .header3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
  background: #FAFAFA;
  padding: 16px 24px;
}

.header .content .header3 img {
  width: 130px;
}

.header .content .header3 .ham {
  display: none;
}

.header .content .header3 .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .content .header3 .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.header .content .header3 .list li a {
  font-size: 1em;
  font-weight: 600;
  color: #000000;
  white-space: nowrap;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FAFAFA;
}

.promo {
  display: flex;
  justify-content: center;
  padding: 4em 8em;
  background: #FAFAFA;
}

.promo .content {
  width: min(90%, 1444px);
  margin-inline: auto;
}

.promo .content h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.promo .content .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2em;
  margin-top: 1.5em;
}

.promo .content .bottom p {
  font-size: 1.125em;
  font-weight: 500;
}

.promo .content .bottom a {
  font-size: 1.2em;
  text-align: center;
  width: 300px;
  padding: 18px;
  color: #FAFAFA;
  background: #000000;
  border-radius: 50px;
}

.promo .content .bottom a:hover {
  box-shadow: 10px 10px 10px lightgrey;
}

.category {
  background: #FAFAFA;
  padding: 2em 1em;
}

.category h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.category .content {
  width: min(90%, 1600px);
  margin-inline: auto;
}
.category .content .inner {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 0.5em;
}


.category .content .box {
  width: 100%;
  height: 180px;
}

.category .content .box img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.start {
  background: #FAFAFA;
}

.start .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  padding: 4em 0em 4em 8em;
}

.start .content p {
  margin-bottom: 3em;
}

.start .content a {
  display: block;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  padding: 18px;
  color: #FAFAFA;
  background: #000000;
  border-radius: 50px;
}

/* Grid */
.grid {
  padding: 5em 0;
  background: #FAFAFA;
}
.grid h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}
.grid .content {
  width: min(90%, 1444px);
  margin-inline: auto;
}
.grid .content .inner {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);
  gap: 1em;
}
.grid .content .inner img {
 width: 100%;
 height: 100%;
}
.grid .content .inner .img-1, .grid .content .inner .img-2 {
  grid-area: 1 / span 3;
 }
.grid .content .inner .img-3, .grid .content .inner .img-4, .grid .content .inner .img-5 {
  grid-area: 2 / span 2;
 }

 /* Onnit Group */
 .onnit {
  padding: 3em 0;
  background: #FAFAFA;
 }
 .onnit .content {
  position: relative;
  width: min(90%, 1444px);
  margin-inline: auto;
 }
 .onnit .content h2 {
  font-size: 2em;
  margin-bottom: 1em;
 }
 .onnit .content .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .onnit .content .inner .left {
  position: absolute;
  left: 0;
  width: 45%;
  padding: 2em;
  background: #FAFAFA;
  text-align: center;
 }
 .onnit .content .inner .left img {
  width: 100px;
 }
 .onnit .content .inner .left p {
  font-size: 1em;
  margin-bottom: 2em;
 }

 .onnit .content .inner .right {
  text-align: right;
 }
 .onnit .content .inner .right img {
   width: 90%;
 }

 /* Sign-up */
 .signUp {
  padding: 3em 0;
  background: #FAFAFA;
 }

 .signUp .content {
  width: min(90%, 500px);
  margin-inline: auto;
  text-align: center;
 }
 .signUp .content h2 {
  font-size: 2em;
 }
 .signUp .content p {
  font-size: 1.125em;
  color: grey;
  margin-top: .5em;
 }
 .signUp .content .form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1.3em;
 }
 .signUp .content .form input{
  padding: 1em;
  width: 300px;
  height: 48px;
  border:2px solid lightgrey;
  background: #ededed;
 }
 .signUp .content .form a {
  padding: .6em;
  width: 60px;
  font-weight: 900;
  border:2px solid lightgrey;
  background: #ededed ;
 }

 /* Footer */
 .footer {
  padding: 4.5em;
  background: #FAFAFA;
 }

 .footer .content {
  /* border: 5px solid purple; */
 }
 .footer .content .inner {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
 }

 .footer .content .inner .menu {
  
 }
 .footer .content .inner .list {
  padding: 0;
 }



/*# sourceMappingURL=style.css.map */
