*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #333;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
    display: block;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    padding: 18px;
    color: #FAFAFA;
    background: #000000;
    border-radius: 50px;
    margin-inline: auto;
}

.img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
}


/* Header */
.header {
  width: 100%;
}

.header .content {
  margin-inline: auto;
}

.header .content .header1 {
  background: #000000;
  text-align: center;
  padding: 8px;
}

.header .content .header1 small {
  font-size: 0.8em;
  color: #FAFAFA;
}

.header .content .header1 a {
  font-size: 0.8em;
  color: #FAFAFA;
  text-underline-offset: 3px;
}

.header .content .header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FAFAFA;
  text-align: center;
  padding: 8px 24px;
  border-bottom: 1px solid #d3d3d3;
}

.header .content .header2 a {
  font-size: 0.8em;
  color: rgb(98, 98, 98);
}

.header .content .header2 .list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.header .content .header3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  background: #FAFAFA;
  padding: 16px 24px;
}
.header .content .header3 .box {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

.header .content .header3 .ham {
  display: none;
  justify-content: center;
  align-content: center;
}

.header .content .header3 .ham .fa-bars {
  font-size: 1.2em;
  color: #000000;
}

.header .content .header3 img {
  width: 130px;
  display: block;
}

.header .content .header3 .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.header .content .header3 .nav .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.header .content .header3 .nav .list .dropdown-content {
  display: none;
  position: absolute;
  background: #FFFFFF;
  padding: 1em;
}

.header .content .header3 .nav .list li a {
  font-size: 1em;
  font-weight: 600;
  color: #000000;
  white-space: nowrap;

}






/* Mobile Header 2 */
.mobile-header2 {
  display: none;
}

 /* Mobile Menu */
 .mobile-nav {
  position: absolute;
  display: none;
  background: #FAFAFA;
  width: 86%;
  height: 100dvh;
  transition: all 1s ease-in-out;
}
.mobile-nav.show {
  display: block;
}

.mobile-nav img{
  width: 100px;
}
.mobile-nav .x-btn {
  font-size: 1.5em;
  margin-right: .5em;
}

.mobile-nav .content-1 {
  vertical-align: middle;
  padding: .5em 1em;
  border-bottom: 1px solid lightgrey;
}
.mobile-nav .content-1 img {
  width: 110px;
}
.mobile-nav .content-2 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding: 1em;
}
.mobile-nav .content-2 input {
  width: 50%;
  padding: 1em;
  border: 1px solid lightgrey;
}

.mobile-nav .content-2 button {
    color: #FFFFFF;
    font-size: 1em;
    background: #545454;
    border: none;
    border-radius: 100px;
    padding: .8em;
    margin-left: .4em;
    width: 50%;
}

.mobile-nav .menu {
  background: #FAFAFA;
  padding: 0;
}

.mobile-nav .menu li {
  font-size: .9em;
  font-weight: 600;
  padding: 1em;
  border-bottom: 1px solid lightgrey;
  text-transform: uppercase;
}



.mobile-nav .menu a {
  color: #161616;
}



/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FAFAFA;
  /* width: 100vhw; */
}

.hero .img {
  background-position: center center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
}

.promo {
  display: flex;
  justify-content: center;
  padding: 4em 8em;
  background: #FAFAFA;
}

.promo .content {
  width: min(90%, 1444px);
  margin-inline: auto;
}

.promo .content h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.promo .content .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2em;
  margin-top: 1.5em;
}

.promo .content .bottom p {
  font-size: 1.125em;
  font-weight: 500;
  line-height: 24px;
}

.promo .content .bottom a {
  font-size: 1.2em;
  text-align: center;
  width: 300px;
  padding: 18px;
  color: #FAFAFA;
  background: #000000;
  border-radius: 50px;
}

.promo .content .bottom a:hover {
  box-shadow: 10px 10px 10px lightgrey;
}

.category {
  background: #FAFAFA;
  padding: 2em 1em;
}

.category h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.category .content {
  width: min(99%, 1800px);
  margin-inline: auto;
}
.category .content .inner {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(8, 1fr);
  justify-content: space-between;
  align-content: center;
  gap: 0.5em;
}


.category .content .box {
  position: relative;
  width: 100%;
  height: 180px;
  grid-area: 1 / span 2;
  cursor: pointer;
}

.category .content .box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

.category .content .box h2{
  font-size: 1.5em;
  position: absolute;
  left: 0;
  top: 0;
  padding: .6em 1em;
  color: #FFFFFF;
}

.category .content .box img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  line-height: 24px;
}

.start {
  background: #FAFAFA;
}

.start .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  padding: 4em 0em 4em 8em;
}

.start .content p {
  margin-bottom: 3em;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 24px;
}

.start .content a {
  display: block;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  padding: 18px;
  color: #FAFAFA;
  background: #000000;
  border-radius: 50px;
}

/* Grid */
.grid {
  padding: 5em 0;
  background: #FAFAFA;
}
.grid h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}
.grid .content {
  width: min(90%, 1444px);
  margin-inline: auto;
}
.grid .content .inner {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);
  gap: 1em;
}
.grid .content .inner .img {
 width: 100%;
 height: 100%;
}

.grid .content .inner .images {
  position: relative;
  width: 100%;
  height: 100%;
 }

.grid .content .inner .images::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}
.grid .content .inner .images h2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #FFFFFF;
 }

.grid .content .inner .images .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: .9em;
  font-weight: 600;
  width: 100px;
  margin: 2em;
  text-align: center;
  padding: 6px;
  color: #000000;
  background: #FFFFFF;
 }
.grid .content .inner .img-1, .grid .content .inner .img-2 {
  grid-area: 1 / span 3;
 }
.grid .content .inner .img-3, .grid .content .inner .img-4, .grid .content .inner .img-5 {
  grid-area: 2 / span 2;
 }

 /* Onnit Group */
 .onnit {
  padding: 3em 0;
  background: #FAFAFA;
 }
 .onnit .content {
  position: relative;
  width: min(90%, 1444px);
  margin-inline: auto;
 }
 .onnit .content h2 {
  font-size: 2em;
  margin-bottom: 1em;
 }
 .onnit .content .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .onnit .content .inner .left {
  position: absolute;
  left: 0;
  width: 45%;
  padding: 2em;
  background: #FAFAFA;
  text-align: center;
 }
 .onnit .content .inner .left img {
  width: 100px;
 }
 .onnit .content .inner .left p {
  font-size: 1.125em;
  margin-bottom: 2em;
 }

 .onnit .content .inner .right {
  text-align: right;
 }
 .onnit .content .inner .right img {
   width: 90%;
 }

 /* Sign-up */
 .signUp {
  padding: 3em 0 6em 0;
  background: #FAFAFA;
 }

 .signUp .content {
  width: min(90%, 750px);
  margin-inline: auto;
  text-align: center;
 }
 .signUp .content h2 {
  font-size: 2em;
 }
 .signUp .content p {
  font-size: 1.125em;
  color: grey;
  margin-top: .5em;
 }
 .signUp .content .form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1.3em;
 }
 .signUp .content .form input{
  padding: 1em;
  width: 100%;
  height: 48px;
  border:2px solid lightgrey;
  background: #ededed;
 }
 .signUp .content .form a {
  padding: .6em;
  width: 100px;
  font-weight: 900;
  border:2px solid #a7a7a7;
  border-radius: 50px;
  color: #FAFAFA;
  background: #a7a7a7 ;
 }

 /* Footer */
 .footer {
  padding: 2em 3em .5em 3em;
  background: #161616;
 }

 .footer .content {
  width: min(90%, 1444px);
  margin-inline: auto;
 }

 .footer .content .inner {
  display: flex;
  justify-content: space-between;
  gap: 1.2em;
  /* border: 2px solid orange; */
  margin-bottom: 2em;
 }
 .footer .content .inner .end-list a {
  font-size: .8em;
  color: #A8A8A8;
 }

 .footer .content .inner img {
  width: 36px !important;
 }

 .footer .content .inner .u-logo {
  width: 90px !important;
 }

 .footer .content .inner2{
  align-items: center;
 }

 .footer .content .inner .icons {
  display: flex;
  justify-content: space-between;
  gap: .8em;
  padding: 0;
 }

 .footer .content .inner h2 {
  font-size: 1em;
  font-weight: 600;
  color: #C6C6C6;
 }

 .footer .content .inner .list {
  padding: 0;
 }

 .footer .content .inner .list img {
  width: 36px;
 }

 .footer .content .inner .list a {
  font-size: .9em;
  font-weight: 500;
  color: #A8A8A8;
 }

 .footer .content .inner .form-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #EDEDED;
  height: 100%;
 }
 
 .footer .content .inner .form-box input {
  background: #EDEDED;
  border: transparent;
  border-right: 2px solid lightgrey;
  width: 100%;
  padding: 1.3em;
 }

 .footer .content .inner .form-box .fa-magnifying-glass, .footer .content .inner .form-box .fa-envelope {
  font-size: 1.2em;
 }

 .footer .content .inner .form-box button {
  background: #EDEDED;
  border: transparent;
  height: 100%;
  padding: 1em;
  cursor: pointer;
 }



 @media screen and (max-width: 1090px) {
  .mobile-header2 .fa-solid, .mobile-header2 .fa-regular {color: #626262;}
  .mobile-header2 {display: flex;gap: 2em;}
  .header .content .header2, .header .content .header3 {padding: 8px 16px;}
  .header .content .header2 .list {display: none;}
  .header .content .header3 .list {display: none;  }
  .header .content .header3 .ham {display: flex;}
  .promo {padding: 32px 64px;}
  .promo .content {text-align: center;}
  .promo .content .bottom {flex-direction: column;  align-items:center;}
  .start .content {flex-direction: column-reverse;align-items: center;text-align: center;gap: 1.5em;padding: 4em 1.5em 4em 1.5em;}
  .start .content .start-btn {width: 300px;margin-inline: auto;}
  .onnit .content {position: none;width: min(90%, 1444px);   margin-inline: auto;}
  .onnit .content .inner {flex-direction: column-reverse;justify-content: center;align-items: center;}
  .onnit .content .inner .left {position: relative;
  width: 100%;padding: 1em;}
  .onnit .content .inner .right {text-align:center;}
  .onnit .content .inner .right img {width: 100%;}
  .onnit .content .onnit-btn {font-size: 1.2em;text-align: center;
  width: 300px;padding: 18px;color: #FAFAFA;background: #000000;
  border-radius: 50px;}
  .onnit .content h2 {text-align: center;font-size: 1.5em;margin-bottom: .5em;}

}

@media screen and (max-width: 768px) {
 
  .mobile-header2 .bag {display: none;}
  .promo {padding: 24px 8px;}
  .promo .content h2 {font-size: 1em;}
  .promo .content .bottom a, .start .content .start-btn, .onnit .content .onnit-btn {font-size: 1em;width: 100%;padding: .5em;}
  .category .content .inner {display: flex;flex-direction: column;  grid-template: repeat(0, 1fr) / repeat(0, 1fr);gap: 1em;}
  .category .content .box {height: 200px;}
  .category .content .box h2 {font-size:1.2em;padding: .5em;}
  .grid .content .inner {display: grid;justify-content: center;align-items: center;grid-template: repeat(1, 1fr) / repeat(5, 1fr);gap: 1em;}
  .grid .content .inner .images .btn {margin: 1em;}
  .grid .content .inner .images h2 {font-size: 1.2em;padding: .7em;font-weight: 600;line-height: 20px;}

.grid .content .inner .img-1 {
  grid-area: 1 / span 5;
}
.grid .content .inner .img-2 {
  grid-area: 2 / span 5;
}
.grid .content .inner .img-3 {
  grid-area: 3 / span 5;
}
.grid .content .inner .img-4 {
  grid-area: 4 / span 5;
}
.grid .content .inner .img-5 {
  grid-area: 5 / span 5;
}
  .footer {padding: 2em 1.5em .5em 1.5em;text-align: center;}
  .footer .content .inner {flex-direction: column;gap: 1.1em;
    margin-bottom: 2em;}
  .footer .content .inner .u-logo { width: 50px !important;}
}

@media screen and (max-width: 630px) {
  .mobile-header2 .favs, .mobile-header2 .account,.mobile-header2 .search {display: none;}
}
/*# sourceMappingURL=style.css.map */
